.link {
  padding: var(--size-m) var(--size-s);
  color: var(--color-on-surface-variant);
  border-radius: var(--shape-corner-full);

  &:hover {
    color: var(--color-on-surface);
    background-color: var(--color-surface-bright);
  }
}