<div class="locations-header">
  <h5>Your Locations </h5>
  <%= render "components/link", {to: new_location_path} do %>
    Add Location
  <% end %>
</div>

<div class="card-container">
  <% @locations.each do |location| %>
    <a href="<%= location_path(location) %>">
      <%= render "components/card", {
        :title => location.name,
        :subtitle => "Containers: " + @count.to_s
      } %>
    </a>
  <% end %>
</div>