<div class="locations-header">
  <h5>Your Locations</h5>
  <%= link_to "Add Location", new_location_path %>
</div>

<div class="card-container">
  <% @locations.each do |location| %>
    <a href="<%= location_path(location) %>">
      <%= render "components/card", :location => location %>
    </a>
  <% end %>
</div>